@import "./variables.scss";
@import "./mixins.scss";

//footer
.footer {
    @include size( 315px, inherit);
    @include flex-content(center , center);
    @include direction(column);
    background-color: $secondary-color;
    &-title {
        color: $primary-color;
        @include font-text(700, 14px, 22px);
        text-transform: uppercase;
        text-align: center;
    }
    &-description {
        width: 300px;
        margin: $margin-xs 0;
        color: $fourth-color;
        @include font-text(400, 14px, 26px);
        text-align: center;
    }
    &-description-full{
        display: none;
    }
    &-contacts {
        @include font-text(400, 14px, 24px);
        color: $fourth-color;
        &-address, &-phone, &-mail {
            @include flex-content( center, center);
        }
    }
}

.socials-list {
    list-style-type: none;
    margin: $margin-s 0;
    @include flex-content( center, center);
}

.social {
    &-item {
        @include size( 34px, 34px);
        @include flex-content( center, center);
        border: 2px solid #F8902E;
        border-radius: 30px;
        margin: 0 $margin-xs*0.6;
        &-link {
            @include size( inherit, inherit);
            @include flex-content( center, center);
        }
    }
    &-item:nth-child(2) {
        border: 2px solid #39599F;
    }
    &-item:nth-child(3) {
        border: 2px solid #45B0E3;
    }
    &-item:nth-child(4) {
        border: 2px solid #D97AB0;
    }
    &-item:last-child {
        border: 2px solid #CC212C;
    }
}




  
/* For screens with an extension of 768px: */
@media (min-width: 321px) and (max-width: 768px){
    .footer {
        @include size( 332px, inherit);
        &-title {
            @include font-text(700, 16px, 22px);
        }
        &-description {
            @include font-text(400, 16px, 28px);
            width: 684px;
        }
        &-description-full{
            display: inline;
        }
        &-contacts {
            @include font-text(400, 16px, 26px);
            &-address, &-phone, &-mail {
                display: inline;
            }
        }
    }
}

/* For screens with an extension of 1200px: */
@media (min-width: 769px) {
    .footer {
        @include size( 355px, inherit);
        &-title {
            @include font-text(700, 16px, 22px);
        }
        &-description {
            @include font-text(684, 16px, 28px);
            width: 684px;
        }
        &-description-full{
            display: inline;
        }
        &-contacts {
            @include font-text(400, 16px, 26px);
            &-address, &-phone, &-mail {
                display: inline;
            }
        }
    }
    .socials-list {
        margin: $margin-m*1.5 0;
    }
}