@import "./variables.scss";
@import "./mixins.scss";

// header
.header {
    @include size (83px , 100vw);
    @include  flex-content(end , center);
    position: relative;
}

.button {
    @include size (37px , 44px);
    background-color: $secondary-color;
    cursor: pointer;
    @include  flex-content(center , center);
    @include direction(column);
    &-decor1, &-decor2, &-decor3 {
        @include size (2px , 17px);
        background-color: $primary-color;
        margin: 2px 0;
        transition: 0.4s;
    }
}

.change .button {
    &-decor1 {
    transform: translate(0, 6px) rotate(-45deg);
    }
    &-decor2 {
    opacity: 0;
    }
    &-decor3 {
    transform: translate(0, -6px) rotate(45deg);
    }
}

.nav-list {
  display: none;
  position: absolute;
  left: 143px;
  top: 60px;
  background-color: #F5F5F5;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: 0.4s;
}

.nav-list.show {
    display: block;
}

.nav-item {
    padding: $padding-s*0.5 $padding-s;
    display: block;
    color: $third-color;
    @include font-text(400, 11px, 22px);
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.nav-item.active {
    color: #57A4A4;
}

.nav-item:hover {
    background-color: #E5E5E5;
}

/* For screens with an extension of 320px: */

@media only screen and (max-width: 320px) {
    .container {
        width: 320px;
    }
  }
  
/* For screens with an extension of 768px: */
@media (min-width: 321px) and (max-width: 768px){
    .container, .preview-post {
        width: 768px;
    }
    .button {
        display: none;
    }
    .header {
        @include size (106px , 100%);
        @include flex-content( center, center);
    }
    .nav-list {
        position: static;
        background-color: inherit;
        box-shadow: none;
        @include flex-content( center, center);
    }
}

/* For screens with an extension of 1200px: */
@media (min-width: 769px) {
    .container, .preview-post {
        width: 1200px;
    }
    .button {
        display: none;
    }
    .header {
        @include size (118px , 100%);
        @include flex-content( center, center);
    }
    .nav-list {
        @include size (inherit, 75%);
        position: static;
        background-color: inherit;
        box-shadow: none;
        @include flex-content( space-around, center);
    }
}