@import "./variables.scss";
@import "./mixins.scss";

//main
.poster{
    width: 100vw;
}

.posts {
    padding-top: $padding-s*1.7;
    height: fit-content;
    &-title {
        padding: $padding-s 0;
        color: $third-color;
        @include font-text(700, 14px, 22px);
        text-transform: uppercase;
    }
}

.post {
    &-img {
        margin: $margin-s*0.5 $margin-s*0.5 $margin-s*0.3 0;
    }
    &-title {
        color: $third-color;
        @include font-text(700, 14px, 30px);
    }
    &-author {
        color: #7C7C7C;
        @include font-text(400, 11px, 20px);
        margin-bottom: $margin-s;
    }
    &-description {
        display: none;
        color: #5C5C5C;
        @include font-text(400, 14px, 26px);
    }
}

.post:last-child {
    display: none;
}

//preview-post
.preview-post {
    width: 100%;
    padding-bottom: $padding-m;
    margin-top: $margin-xl*1.4;
    &-title {
        color: $third-color;
        @include font-text(700, 14px, 30px);
        text-transform: uppercase;
    }
    &-link{
        display: none;
        color: $third-color;
        @include font-text(700, 13px, 22px);
        text-transform: uppercase;
    }
    &-img {
        @include size( 301px, 301px);
        margin: $margin-s 0;
    }
    &-img:nth-child(2), &-img:nth-child(3), &-img:nth-child(4) {
        display: none;
    }
}

/* For screens with an extension of 768px: */
@media (min-width: 321px) and (max-width: 768px){

    .poster {
        @include size (361px, 100%);
    }
    .posts {
        padding-top: $padding-l*1.2;
        &-title {
            @include font-text(700, 16px, 22px);
        }
    }
    .post {
        display: flex;
        &-img {
            margin-bottom: $margin-s*2;
        }
        &-inner {
            margin-left: $padding-m*0.9;
        }
        &-author {
            margin-bottom: $margin-xs;
        }
        &-description {
            display: flex;
            width: 400px;
        }
    }
    .post:last-child {
        display: flex;
    }
    .preview-post {
        @include size (400px , inherit);
        margin-top: $margin-xl*.86;
        background-color: #E5E5E5;
        &-title-wr{
            @include size (100px , 100%);
            @include flex-content( space-between, center);
        }
        &-title {
            @include font-text(700, 16px, 22px);
        }
        &-link {
            display: inline;
        }
        &-img-wrapper {
            @include flex-content( space-between, center);
        }
        &-img {
            @include size (249px , 249px);
            margin: 0;
        }
        &-img:nth-child(2), &-img:nth-child(3) {
            display: inline;
        }
    }
}
    
/* For screens with an extension of 1200px: */
@media (min-width: 769px) {
    
    .poster {
        @include size (550px, 100%);
    }
    .posts {
        padding-top: $padding-l*1.2;
        &-inner {
            @include size (370px, 1200px);
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        &-title {
            @include font-text(700, 16px, 22px);
        }
    }
    .post {
        display: flex;
        &-img {
            margin-bottom: $margin-s*2;
        }
        &-inner {
            margin-left: $padding-m*0.9;
        }
        &-author {
            margin-bottom: $margin-xs;
        }
        &-description {
            display: flex;
            width: 400px;
        }
    }
    .post:last-child {
        display: flex;
    }
    .preview-post {
        @include size (427px , inherit);
        margin-top: $margin-xl*.46;
        background-color: #E5E5E5;
        &-title-wr{
            margin: 0 auto;
            @include size (100px , 1200px);
            @include flex-content( space-between, center);
        }
        &-title {
            @include font-text(700, 16px, 22px);
        }
        &-link {
            display: inline;
        }
        &-img-wrapper {
            margin: 0 auto;
            max-width: 1200px; 
            @include flex-content( space-between, center);
        }
        &-img {
            @include size (285px , 285px);
            margin: 0;
        }
        &-img:nth-child(2), &-img:nth-child(3), &-img:nth-child(4) {
            display: inline;
        }
    }
}