// FLEX
@mixin flex-content ($justify-content , $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin direction ($direction) {
    flex-direction: $direction;
}
// GRID
@mixin grid-content ($cols) {
    display: grid;
    grid-template-columns: repeat($cols , 1fr);
}

//Size

@mixin size ($height , $width) {
    height: $height;
    width: $width;
}

// Text
@mixin font-text ($font-weight, $font-size, $line-height) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}

