@import "./variables.scss";
@import "./mixins.scss";

// reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include  flex-content(flex-start, center);
    @include direction(column);
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}