// BG
$primary-bg-color : darkmagenta;
$secondary-bg-color : fuchsia;
$third-bg-color : orchid;
$fourth-bg-color : pink;

// COLOR
$primary-color : #FFFFFF;
$secondary-color : black;
$third-color : #4E4E4E;
$fourth-color : #B9B9B9;

// PADDING
$padding-xl : 70px;
$padding-l : 45px;
$padding-m : 23px;
$padding-s : 15px;
$padding-xs : 8px;

// MARGIN
$margin-xl : 70px;
$margin-l : 45px;
$margin-m : 23px;
$margin-s : 15px;
$margin-xs : 8px;

// WIDTH
$width-full : 100%;
$width-half : 50%;
$width-quater : 25%;

// SHADOW
$primary-box-shadow : 3px 6px 3px;
$secondary-box-shadow : 5px 8px 5px;

// FS
$fs-xl: 3rem;
$fs-l: 2rem;
$fs-m: 1rem;
$fs-s: .8rem;